<section th:fragment="slider">
    <div id="oc-slider" class="owl-carousel carousel-widget" data-margin="0" data-items="1" data-pagi="false" data-loop="true" data-animate-in="rollIn" data-speed="450" data-animate-out="rollOut" data-autoplay="5000">

        <a href="#"><img th:src="@{images/slider/full/1.jpg}" alt="Slider" /></a>
        <a href="#"><img th:src="@{images/slider/full/2.jpg}" alt="Slider" /></a>
        <a href="#"><img th:src="@{images/slider/full/3.jpg}" alt="Slider" /></a>
        <a href="#"><img th:src="@{images/slider/full/4.jpg}" alt="Slider" /></a>

    </div>
</section>